extends layout

block content
  form(action='/newmsg' method='post')
    input(type='text' name='sporocilo')
    input(type='submit' value='Potrdi')
  textarea#output(style='height: 400px; width: 100%;')
