extends layout

block content
  h1 name : #{user.name}
  h1 Google id : #{user.g_id}
  h1 email : #{user.email}

  ul#messages
    each sporocilo in allMessages
      li= sporocilo.msg_content

  form(action='/newmsg' method='post')
    input#m(autocomplete='off' name='sporocilo')
    input#send(type='submit' value='send')
    
  //- textarea#output(style='height: 400px; width: 100%; background: #FFF;' disabled="disabled")
  
      
