extends layout

block content
  h1 name : #{name}
  form(action='/newmsg' method='post')
    input(type='text' name='author')
    input(type='text' name='sporocilo')
    input(type='submit' value='Potrdi')
  textarea#output(style='height: 400px; width: 100%; background: #FFF;' disabled="disabled")
