doctype html
html
	head
		title Chat Rooms
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		
	body

		ul
			each chatRoom in chatRooms
				li
					form(action='/chatRoom' method='POST')
						input(type='hidden' name='chatRoomID' value=chatRoom._id)
						input(type="submit" name='chatRoomName' value=chatRoom.name)

		form(action='new' method='post')
			input(type='text' name='name')
			input(type='submit')